body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    max-width: 800px;
    color: #4a4444;
    font-family: sans-serif;
    margin: 0 auto;
    padding-top: 100px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: justify;
}
